# Statistics
This notebook contains basic statistics for the datasets.

### Import Packages

In [1]:
import pandas as pd

### Import Data

In [2]:
df_books = pd.read_json("goodreads_books_poetry.json", lines=True)
df_interactions = pd.read_json("goodreads_interactions_poetry.json", lines=True)
df_reviews = pd.read_json("goodreads_reviews_poetry.json", lines=True)
df_authors = pd.read_json("goodreads_book_authors.json", lines=True)
df_series = pd.read_json("goodreads_book_series.json", lines=True)

### df_books

We print basic information about the no. of rows and columns, column names, no. of non-null values for each column, and the column data types.

In [8]:
df_books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36514 entries, 0 to 36513
Data columns (total 29 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   isbn                  36514 non-null  object
 1   text_reviews_count    36514 non-null  int64
 2   series                36514 non-null  object
 3   country_code          36514 non-null  object
 4   language_code         36514 non-null  object
 5   popular_shelves       36514 non-null  object
 6   asin                  36514 non-null  object
 7   is_ebook              36514 non-null  object
 8   average_rating        36514 non-null  float64
 9   kindle_asin           36514 non-null  object
 10  similar_books         36514 non-null  object
 11  description           36514 non-null  object
 12  format                36514 non-null  object
 13  link                  36514 non-null  object
 14  authors               36514 non-null  object
 15  publisher             36514 non-null  object
 16  num_pages             36514 non-null  object
 17  publication_day       36514 non-null  object
 18  isbn13                36514 non-null  object
 19  publication_month     36514 non-null  object
 20  edition_information   36514 non-null  object
 21  publication_year      36514 non-null  object
 22  url                   36514 non-null  object
 23  image_url             36514 non-null  object
 24  book_id               36514 non-null  int64
 25  ratings_count         36514 non-null  int64
 26  work_id               36514 non-null  int64
 27  title                 36514 non-null  object
 28  title_without_series  36514 non-null  object
dtypes: float64(1), int64(4), object(24)
memory usage: 8.1+ MB

From the above results it may seem like all values are non-null. This is however not the case and we have for example null-values masquerading as empty strings. We address the issue of null-values for each column in the data preprocessing. Also, we can see columns with descriptive statistics like `text_reviews_count`, `average_rating`, and `ratings_count`. It would perhaps be better to compute these statistics using queries/views rather than adding them directly to the table. Hence we drop these columns in the preprocessing.

We now print the total memory usage of the dataframe in bytes.

In [3]:
print(f"{sum(df_books.memory_usage(deep=True))} bytes")

101594785 bytes

We now print descriptive statistics for the columns.

In [10]:
df_books.describe()

,text_reviews_count,average_rating,book_id,ratings_count,work_id
count,36514.000000,36514.000000,3.651400e+04,3.651400e+04,3.651400e+04
mean,14.690886,4.063838,1.063452e+07,2.796882e+02,1.340161e+07
std,110.594374,0.399965,1.035345e+07,7.633414e+03,1.704974e+07
min,0.000000,0.000000,2.340000e+02,0.000000e+00,1.660000e+02
25%,2.000000,3.840000,1.185514e+06,9.000000e+00,9.307670e+05
50%,4.000000,4.100000,7.223308e+06,2.300000e+01,3.284191e+06
75%,9.000000,4.310000,1.821872e+07,6.900000e+01,2.165533e+07
max,10403.000000,5.000000,3.648548e+07,1.029527e+06,5.822964e+07

### df_interactions

We print basic information about the no. of rows and columns, column names, no. of non-null values for each column, and the column data types.

In [4]:
df_interactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2734350 entries, 0 to 2734349
Data columns (total 10 columns):
 #   Column                  Dtype
---  ------                  -----
 0   user_id                 object
 1   book_id                 int64
 2   review_id               object
 3   is_read                 bool
 4   rating                  int64
 5   review_text_incomplete  object
 6   date_added              object
 7   date_updated            object
 8   read_at                 object
 9   started_at              object
dtypes: bool(1), int64(2), object(7)
memory usage: 190.4+ MB

We now print the total memory usage of the dataframe in bytes.

In [5]:
print(f"{sum(df_interactions.memory_usage(deep=True))} bytes")

1542894381 bytes

We now print descriptive statistics for the columns.

In [13]:
df_interactions.describe()

            book_id        rating
count  2.734350e+06  2.734350e+06
mean   6.808744e+06  1.824787e+00
std    9.698381e+06  2.123223e+00
min    2.340000e+02  0.000000e+00
25%    4.204000e+04  0.000000e+00
50%    5.922210e+05  0.000000e+00
75%    1.219330e+07  4.000000e+00
max    3.648548e+07  5.000000e+00

### df_reviews

We print basic information about the no. of rows and columns, column names, no. of non-null values for each column, and the column data types.

In [6]:
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154555 entries, 0 to 154554
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       154555 non-null  object
 1   book_id       154555 non-null  int64
 2   review_id     154555 non-null  object
 3   rating        154555 non-null  int64
 4   review_text   154555 non-null  object
 5   date_added    154555 non-null  object
 6   date_updated  154555 non-null  object
 7   read_at       154555 non-null  object
 8   started_at    154555 non-null  object
 9   n_votes       154555 non-null  int64
 10  n_comments    154555 non-null  int64
dtypes: int64(4), object(7)
memory usage: 13.0+ MB

As before, it may seem like all values are non-null. This is not necessarily the case and we address the issue of null-values for each column in the data preprocessing.

We now print the total memory usage of the dataframe in bytes.

In [7]:
print(f"{sum(df_reviews.memory_usage(deep=True))} bytes")

175832277 bytes

We now print descriptive statistics for the columns.

In [16]:
df_reviews.describe()

            book_id         rating        n_votes     n_comments
count  1.545550e+05  154555.000000  154555.000000  154555.000000
mean   1.023782e+07       3.815205       1.525632       0.252557
std    1.026113e+07       1.310501       7.232086       1.638360
min    2.340000e+02       0.000000      -1.000000      -1.000000
25%    5.226630e+05       3.000000       0.000000       0.000000
50%    6.928895e+06       4.000000       0.000000       0.000000
75%    1.822272e+07       5.000000       1.000000       0.000000
max    3.648548e+07       5.000000    1065.000000     168.000000

We can see that `rating` is in the range 0-5. Also, there are negative values for `n_votes` and `n_comments`. This should not be possible as these columns represent the no. of votes and no. of comments respectively. We address this in the data preprocessing.

### df_authors

We print basic information about the no. of rows and columns, column names, no. of non-null values for each column, and the column data types.

In [8]:
df_authors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 829529 entries, 0 to 829528
Data columns (total 5 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   average_rating      829529 non-null  float64
 1   author_id           829529 non-null  int64
 2   text_reviews_count  829529 non-null  int64
 3   name                829529 non-null  object
 4   ratings_count       829529 non-null  int64
dtypes: float64(1), int64(3), object(1)
memory usage: 31.6+ MB

As before, it may seem like all values are non-null. This is not necessarily the case and we address the issue of null-values for each column in the data preprocessing. Also, we can see columns with descriptive statistics like `average_rating`, `text_reviews_count` and `ratings_count`. It would perhaps be better to compute these statistics using queries/views rather than adding them directly to the table. Hence we drop these columns in the preprocessing.

We now print the total memory usage of the dataframe in bytes.

In [9]:
print(f"{sum(df_authors.memory_usage(deep=True))} bytes")

85650534 bytes

We now print descriptive statistics for the columns.

In [19]:
df_authors.describe()

       average_rating     author_id  text_reviews_count  ratings_count
count   829529.000000  8.295290e+05       829529.000000   8.295290e+05
mean         3.844779  5.751610e+06          106.865331   1.595326e+03
std          0.603013  5.129977e+06         1770.225828   4.479669e+04
min          0.000000  3.000000e+00            0.000000   0.000000e+00
25%          3.580000  9.327180e+05            2.000000   8.000000e+00
50%          3.900000  4.952564e+06            6.000000   3.100000e+01
75%          4.170000  7.838936e+06           20.000000   1.310000e+02
max          5.000000  1.734337e+07       448570.000000   1.853272e+07

### df_series

We print basic information about the no. of rows and columns, column names, no. of non-null values for each column, and the column data types.

In [10]:
df_series.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400390 entries, 0 to 400389
Data columns (total 7 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   numbered            400390 non-null  object
 1   note                400390 non-null  object
 2   description         400390 non-null  object
 3   title               400390 non-null  object
 4   series_works_count  400390 non-null  int64
 5   series_id           400390 non-null  int64
 6   primary_work_count  400390 non-null  int64
dtypes: int64(3), object(4)
memory usage: 21.4+ MB

As before, it may seem like all values are non-null. This is not necessarily the case and we address the issue of null-values for each column in the data preprocessing. Also, we can see columns with descriptive statistics like `series_works_count` and `primary_work_count`. It would perhaps be better to compute these statistics using queries/views rather than adding them directly to the table. Hence we drop these columns in the preprocessing.

We now print the total memory usage of the dataframe in bytes.

In [11]:
print(f"{sum(df_series.memory_usage(deep=True))} bytes")

156037473 bytes

In [22]:
df_series.describe()

       series_works_count     series_id  primary_work_count
count       400390.000000  4.003900e+05       400390.000000
mean            21.588149  6.230450e+05           19.771653
std             65.103100  2.944453e+05           63.501377
min            -14.000000  1.443920e+05            0.000000
25%              3.000000  3.637372e+05            3.000000
50%              6.000000  6.158370e+05            5.000000
75%             14.000000  8.775648e+05           12.000000
max            893.000000  1.143859e+06          893.000000